<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('main.main_page')}}">MetaMuseum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


          {% if current_user.is_anonymous %}
              <li class="nav-item m-1">
                  <a href="{{url_for('auth.signin')}}?next={{ request.path|urlencode }}" class="btn btn-outline-info btn-sm">Sign-in</a>
              </li>
              <li class="nav-item m-1">
                  <a href="{{url_for('auth.register')}}" class="btn btn-outline-info btn-sm ">Register</a>
              </li>
          {% else %}
              <li class="nav-item m-1">
                  <a href="{{url_for('main.main_page')}}">My Page ("{{current_user.email}}")</a>
              </li>
              <li class="nav-item m-1">
                  <a href="{{url_for('auth.logout')}}?next={{ request.path|urlencode }}" class="btn-outline-info btn-sm">Signout</a>    
              </li>
                

          {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>