<html>
  <head>
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="https://cdn.rawgit.com/mrturck/aframe-joystick/master/joystick.min.js"></script>
    <script src="https://quadjr.github.io/aframe-gaussian-splatting/index.js"></script>
  </head>

  <body>
    <a-scene xr-mode-ui="enabled: false">
      {% if avatar == 'shiba' %}
      <a-assets>
          <a-asset-item id="avatarModel" src="{{url_for('static', filename='gltf/shiba/scene.gltf')}}"></a-asset-item>
      </a-assets>
      {% endif %}
      <a-camera id="camera"></a-camera>
      {{ aframe|safe }}
    </a-scene>
  </body>
</html>